version: "3.8"

services:
  db:
    image: postgres:17-alpine
    restart: always
    environment:
      POSTGRES_DB: hotel_db
      POSTGRES_USER: sa
      POSTGRES_PASSWORD: 12345678
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
